<!DOCTYPE html>
<html>
<head>
	<!-- meta info -->
    <meta charset="utf-8" />
    <meta name="description" content="Firewall page" />
    <meta name="keywords" content="Apply" />
    <meta name="author" content="Darcy" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<h2>WAF Portal</h2>

	<nav class="nav1"><!-- nav menu -->
		<a href="serverstatus.html">Server Status</a>
		<a href="logsearch.html">Log Search</a>
		<a href="firewall.html">Firewall Settings</a>
		<div class="nav2">
			<a href="edituser.html">Edit user</a>
			<a href="{{url_for('logout')}}">Logout</a>
		</div>
	</nav>

	<div class="rendered-form">
		<form id="confirm" action="" method="post"></form> <!-- put database link in action -->
			<div class="search-container">
				<form action="{{url_for('blacklistIP')}}" method="POST">
					<label for="text3" class="formbuilder-text-label">Block by IP address</label>
				  <input type="text" placeholder="add IP or IP with subnet eg: 192.168.0.1 or 192.168.0.1/24" name="ip_blacked">
				  <button type="submit">add IP</button>
				</form>
		</div>

		<fieldset>
			<table style="undefined;table-layout: fixed; width: 600px">
				<colgroup>
				<col style="width: 100px">
				<col style="width: 77px">
				</colgroup>
				<thead>
				<tr>
					<th>IP Address</th>
				</tr>
				</thead>
				<tbody>
					<div class="scrollit">
						{% for x in results_1 %}
						<tr>
							<form action="{{url_for('deleteIP')}}" method="POST">
							<td><input type="text" value="{{x["ip"]}}" name="deleteIP"  readonly></td>
							<td><button type="submit" style="default" class="btn" name="deleteIP">delete</button></td>
							</form>
						</tr>
						{% endfor %}
					</div>
				</tbody>
			</table>
		</fieldset>
		
		<form action="{{url_for('blacklistGEO')}}" method="POST">
			<label for="text3" class="formbuilder-text-label">Block by Geo location</label>
			<select name="geoip_blacked" id="geoip_blacked">
				{% for x in results_3 %}
					<option value="{{x["Code"]}}" name="geoip_blacked">{{x["Name"]}} ({{x["Code"]}})</option>
				{% endfor %}
			</select>
			<br><br>
			<button type="submit">add Geo location</button>
		</form>

		<fieldset>
			<table style="undefined;table-layout: fixed; width: 600px">
				<colgroup>
				<col style="width: 100px">
				<col style="width: 77px">
				</colgroup>
				<thead>
				<tr>
					<th>Geo location's</th>
				</tr>
				</thead>
				<tbody>
					<div class="scrollit">
						{% for x in results_2 %}
						<tr>
							<form action="{{url_for('delete_geo')}}" method="POST">
							<td><input type="text" value="{{x["country_code"]}}" name="delete_geo"  readonly></td>
							<td><button type="submit" style="default" class="btn" name="delete_geo">delete</button></td>
							</form>
						</tr>
						{% endfor %}
					</div>
				</tbody>
			</table>
		</fieldset>	
		</form>
	</div>
</body>
</html>