<!DOCTYPE html>
<html>
<head>
<meta name="forgot-password" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<h2>Edit User</h2>

<div id="id01" class="form">
  <form class="content" action="{{url_for('editcurrentuser')}}" method="post">
    <div class="container">
      <h2>Hello {{result}}</h2>

      <label for="seckey"><b>Current Password</b></label>
      <input type="text" placeholder="Enter current password" id="seckey" name="current_pword">

      <label for="pword"><b>New Password</b></label>
      <input type="password" placeholder="Enter Password" id="pword" name="pword">

      <button type="submit">Submit</button>
    </div>
    <div class="container" style="background-color:#f1f1f1"></div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>

