{% extends "layout.html" %}
{% block content %}
<h1>Edit User</h1>

<div id="id01" class="form">
  <form class="content" action="{{url_for('editcurrentuser')}}" method="post">
    <div class="container">
      <h2>Hello {{result}}</h2>

      <label for="seckey"><b>Current Password</b></label>
      <input type="password" placeholder="Enter current password" id="seckey" name="current_pword">

      <label for="pword"><b>New Password</b></label>
      <input type="password" placeholder="Enter Password" id="pword" name="pword">

      <button type="submit">Submit</button>
    </div>
    <div class="container"></div>
  </form>
</div>
{% endblock %}
