{% extends "base.html" %}
{% block title %}Configure Firewall{% endblock %}
{% block content %}
<h1>Configure Firewall</h1>
<div class="main">
	<form id="confirm" action="" method="post"></form>
	<div class="form-block">
		<h2>Block by IP address</h2>
		<div class="settings">
			<form action="{{url_for('blacklist_ip')}}" method="POST">
				<label for="block_ip"></label>
				<input type="text" placeholder="Add IP or IP with subnet eg: 192.168.0.1 or 192.168.0.1/24" id="block_ip" name="block_ip" pattern="(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}(\/(3[0-2]|[1-2]\d|\d))?" required>
				<button type="submit" class="btn add" title="Add IP">Add</button>
			</form>
		</div>
		<fieldset>
			<table>
				<thead>
					<tr>
						<th>IP Addresses</th>
					</tr>
				</thead>
				<tbody>{% for x in ip_blacklist %}
						<tr>
							<form action="{{url_for('delete_ip')}}" method="POST">
								<td>
									<input type="text" class="settings" value="{{x['ip']}}" name="delete_ip" readonly>
								</td>
								<td class="btn">
									<button type="submit" class="btn del" title="Delete IP" name="delete_ip"><i class="fa fa-trash" aria-hidden="true"></i></button>
								</td>
							</form>{% endfor %}
						</tr>
				</tbody>
			</table>
		</fieldset>
	</div>

	<div class="form-block">
		<h2>Block by Geolocation</h2>
		<div class="settings">
			<form action="{{url_for('blacklist_geo')}}" method="POST">
			<label for="block_geo"></label>
			<select name="block_geo" id="block_geo"> {% for x in geo_list %}
				<option value="{{x['Code']}}" name="block_geo">{{x['Name']}} ({{x['Code']}})</option> {% endfor %} </select>
			<button type="submit" class="btn add" title="Add Geolocation">Add</button>
			</form>
			</div>
		<fieldset>
			<table>
				<thead>
					<tr>
						<th>Geolocations</th>
					</tr>
				</thead>
				<tbody>
					<div> {% for x in geo_blacklist %}
						<tr>
							<form action="{{url_for('delete_geo')}}" method="POST">
								<td>
									<input type="text" class="settings" value="{{x['country_code']}}" name="delete_geo" readonly>
								</td>
								<td class="btn">
									<button type="submit" class="btn del" title="Delete Geolocation" name="delete_geo"><i class="fa fa-trash" aria-hidden="true"></i></button>
								</td>
							</form>
						</tr> {% endfor %} </div>
				</tbody>
			</table>
		</fieldset>
	</div>
	<div class="form-block">
		<h2>Define Custom WAF Rules</h2>
		<div class="settings">
			<form action="{{url_for('add_rule')}}" method="POST">
				<label for="add_rule"></label>
				<input type="text" placeholder="Add a WAF rule" id="add_rule" name="add_rule" required>
				<button type="submit" title="Add Rule" class="btn add">Add</button>
			</form>
			<p class="fa">&#xf071; WARNING: SUBMIT CUSTOM RULES AT YOUR OWN RISK &#xf071;</p>
			<p class="i">Incorrectly designed or formatted rules may break your WAF. See ReadMe for further details</p>
		</div>
		<fieldset>
			<table>
				<thead>
					<tr>
						<th>WAF Rules</th>
					</tr>
				</thead>
				<tbody>
					<div> {% for x in rule_list %}
						<tr>
							<form action="{{url_for('edit_rule')}}" method="POST">
								<td>
									<input type="hidden" value="{{x['rule']}}" name="old_rule" readonly>
									<input type="text" title="Click and type to edit" placeholder="{{x['rule']}}" value="{{x['rule']}}" class="settings" name="new_rule" required>
								</td>
								<td class="btn">
									<button class="btn edit" title="Edit Rule" type="submit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
								</td>
							</form>
							<form action="{{url_for('delete_rule')}}" method="POST">
								<td class="btn">
									<input type="hidden" value="{{x['rule']}}" name="delete_rule" readonly>
									<button type="submit" class="btn del" title="Delete Rule" name="delete_rule"><i class="fa fa-trash" aria-hidden="true"></i></button>
								</td>
							</form>
						</tr> {% endfor %}
					</div>
				</tbody>
			</table>
		</fieldset>
	</div>
	<h3>{{ message }}</h3>
</div>
{% endblock %}