{% extends "base.html" %}
{% block content %}
<h1>Configure Firewall</h1>
<div class="rendered-form">
	<form id="confirm" action="" method="post"></form>
	<div class="form-block">
		<h2>Block by IP address</h2>
		<div class="settings">
			<form action="{{url_for('blacklist_ip')}}" method="POST">
				<label for="block_ip"></label>
				<input type="text" placeholder="add IP or IP with subnet eg: 192.168.0.1 or 192.168.0.1/24" id="block_ip" name="block_ip" pattern="(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}(\/(3[0-2]|[1-2]\d|\d))?" required>
				<button type="submit" class="btn-add">add IP</button>
			</form>
		</div>
		<fieldset>
			<table>
				<thead>
					<tr>
						<th>IP Addresses</th>
					</tr>
				</thead>
				<tbody>{% for x in ip_blacklist %}
						<tr>
							<form action="{{url_for('delete_ip')}}" method="POST">
								<td>
									<input type="text" class="readonly" value="{{x['ip']}}" name="delete_ip" readonly>
								</td>
								<td class="btn">
									<button type="submit" style="default" class="btn-del" name="delete_ip">✖</button>
								</td>
							</form>{% endfor %}
						</tr>
				</tbody>
			</table>
		</fieldset>
	</div>

	<div class="form-block">
		<h2>Block by Geolocation</h2>
		<div class="settings">
			<form action="{{url_for('blacklist_geo')}}" method="POST">
			<label for="block_geo"></label>
			<select name="block_geo" id="block_geo"> {% for x in geo_list %}
				<option value="{{x['Code']}}" name="block_geo">{{x['Name']}} ({{x['Code']}})</option> {% endfor %} </select>
			<button type="submit" class="btn-add">add Geolocation</button>
			</form>
			</div>
		<fieldset>
			<table>
				<thead>
					<tr>
						<th>Geolocations</th>
					</tr>
				</thead>
				<tbody>
					<div> {% for x in geo_blacklist %}
						<tr>
							<form action="{{url_for('delete_geo')}}" method="POST">
								<td>
									<input type="text" class="readonly" value="{{x['country_code']}}" name="delete_geo" readonly>
								</td>
								<td class="btn">
									<button type="submit" style="default" class="btn-del" name="delete_geo">✖</button>
								</td>
							</form>
						</tr> {% endfor %} </div>
				</tbody>
			</table>
		</fieldset>
	</div>
	<div class="form-block">
		<h2>Define Custom WAF Rules</h2>
		<div class="settings">
			<form action="{{url_for('add_rule')}}" method="POST">
				<label for="add_rule"></label>
				<input type="text" placeholder="Add a WAF rule" id="add_rule" name="add_rule" required>
				<button type="submit" class="btn-add">add Rule</button>
			</form>
			<p>WARNING: SUBMIT CUSTOM RULES AT YOUR OWN RISK.</p>
			<p>Incorrectly formatted rules will at best have no effect, and at worst prevent your WAF from functioning.</p>
		</div>
		<fieldset>
			<table>
				<thead>
					<tr>
						<th>WAF Rules</th>
					</tr>
				</thead>
				<tbody>
					<div> {% for x in rule_list %}
						<tr>
							<form action="{{url_for('delete_rule')}}" method="POST">
								<td>
									<input type="text" class="readonly" value="{{x['rule']}}" name="delete_rule" readonly>
								</td>
								<td class="btn">
									<button type="submit" style="default" class="btn-del" name="delete_rule">✖</button>
								</td>
							</form>
						</tr> {% endfor %} </div>
				</tbody>
			</table>
		</fieldset>
	</div>
</div>
{% endblock %}