{% extends "layout.html" %}
{% block content %}
<h1>Configure Firewall</h1>
<div class="rendered-form">
	<form id="confirm" action="" method="post"></form>
	<div class="search-container">
		<form action="{{url_for('blacklist_ip')}}" method="POST">
			<label for="block_ip" class="formbuilder-text-label">Block by IP address</label>
			<input type="text" placeholder="add IP or IP with subnet eg: 192.168.0.1 or 192.168.0.1/24" id="block_ip" name="block_ip" pattern="(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}(\/(3[0-2]|[1-2]\d|\d))?">
			<button type="submit">add IP</button>
		</form>
	</div>
	<fieldset>
		<table style="undefined;table-layout: fixed; width: 600px">
			<colgroup>
				<col style="width: 100px">
					<col style="width: 77px">
			</colgroup>
			<thead>
				<tr>
					<th>IP Address</th>
				</tr>
			</thead>
			<tbody>
				<div class="scrollit"> {% for x in ip_blacklist %}
					<tr>
						<form action="{{url_for('delete_ip')}}" method="POST">
							<td>
								<input type="text" value="{{x['ip']}}" name="delete_ip" readonly>
							</td>
							<td>
								<button type="submit" style="default" class="btn" name="delete_ip">delete</button>
							</td>
						</form>
					</tr> {% endfor %} </div>
			</tbody>
		</table>
	</fieldset>
	<form action="{{url_for('blacklist_geo')}}" method="POST">
		<label for="block_geo" class="formbuilder-text-label">Block by Geolocation</label>
		<select name="block_geo" id="block_geo"> {% for x in geo_list %}
			<option value="{{x['Code']}}" name="block_geo">{{x['Name']}} ({{x['Code']}})</option> {% endfor %} </select>
		<br>
		<br>
		<button type="submit">add Geolocation</button>
	</form>
	<fieldset>
		<table style="undefined;table-layout: fixed; width: 600px">
			<colgroup>
				<col style="width: 100px">
					<col style="width: 77px">
			</colgroup>
			<thead>
				<tr>
					<th>Geolocations</th>
				</tr>
			</thead>
			<tbody>
				<div class="scrollit"> {% for x in geo_blacklist %}
					<tr>
						<form action="{{url_for('delete_geo')}}" method="POST">
							<td>
								<input type="text" value="{{x['country_code']}}" name="delete_geo" readonly>
							</td>
							<td>
								<button type="submit" style="default" class="btn" name="delete_geo">delete</button>
							</td>
						</form>
					</tr> {% endfor %} </div>
			</tbody>
		</table>
	</fieldset>
		<div class="search-container">
		<form action="{{url_for('add_rule')}}" method="POST">
			<label for="add_rule" class="formbuilder-text-label">Add new WAF Rule</label>
			<input type="text" placeholder="add a WAF rule. WARNING do at your own risk. incorrect implementation will break your WAF." id="add_rule" name="add_rule">
			<button type="submit">add Rule</button>
		</form>
	</div>
	<fieldset>
		<table style="undefined;table-layout: fixed; width: 600px">
			<colgroup>
				<col style="width: 100px">
					<col style="width: 77px">
			</colgroup>
			<thead>
				<tr>
					<th>WAF Rules</th>
				</tr>
			</thead>
			<tbody>
				<div class="scrollit"> {% for x in rule_list %}
					<tr>
						<form action="{{url_for('delete_rule')}}" method="POST">
							<td>
								<input type="text" value="{{x['rule']}}" name="delete_rule" readonly>
							</td>
							<td>
								<button type="submit" style="default" class="btn" name="delete_rule">delete</button>
							</td>
						</form>
					</tr> {% endfor %} </div>
			</tbody>
		</table>
	</fieldset>
</div>
{% endblock %}