<!doctype html>
<html>
<head>
  {% block head %}
    <meta charset="utf-8" />
    <meta name="description" content="Firewall page" />
    <meta name="keywords" content="Apply" />
    <meta name="author" content="Darcy" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	{% endblock %}
	{% block head_more %}
	{% endblock %}
</head>
  <body>
	<nav class="nav1"><!-- nav menu -->
		<a href="serverstatus">Server Status</a>
		<a href="logsearch">Log Search</a>
		<a href="firewall">Firewall Settings</a>
		<div class="nav2">
			<a href="edituser">Edit User</a>
			<a href="{{url_for('logout')}}">Logout</a>
		</div>
	</nav>
    {% block content %}{% endblock %}
  </body>
</html>

