{% extends "base.html" %}

{% block extended_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<h1>Log Search</h1>

<div class="main">
	<div class="caption">
		<div class="left">
			<form id="show_portal_logs" action="{{url_for('hide_log')}}" method="POST">
			<label for="show_portal_logs">Show/Hide Web Portal traffic logs:</label>
			<button class="btn-icon" type="submit"><i class="fa fa-check-square"></i></button>
			</form>
		</div>
		<div class="right">Click a table heading and type to search</div>
	</div>
	<fieldset class="logs">
		<table class="logs">
			<colgroup>
				<col class="sourceip"/>
				<col class="destip"/>
				<col class="destport"/>
				<col class="geolocation"/>
				<col class="time"/>
				<col class="referrer"/>
				<col class="status"/>
				<col class="request"/>
				<col class="path"/>
				<col class="body"/>
				<col class="useragent"/>
				<col class="alert"/>
				<col class="flagged"/>
				<col class="end"/>
			</colgroup>
			<thead>
				<tr>
					<form action="{{url_for('search')}}" method="POST">
					<th>
						<input type="hidden" name="field" value="ip" readonly>
						<input class="sourceip" type="text" name="query" placeholder="Source IP">
					</th>
					<th>
						<input type="hidden" name="field" value="server_addr" readonly>
						<input class="destip" type="text" name="query" placeholder="Dest. IP">
					</th>
					<th>
						<input type="hidden" name="field" value="server_port" readonly>
						<input class="destport" type="text" name="query" placeholder="Dest. Port">
					</th>
					<th>
						<input type="hidden" name="field" value="geoip_country_code" readonly>
						<input class="geolocation" type="text" name="query" placeholder="Geo">
					</th>
					<th>
						<input type="hidden" name="field" value="time_local" readonly>
						<input class="time" type="text" name="query" placeholder="Time">
					</th>
					<th>
						<input type="hidden" name="field" value="http_referrer" readonly>
						<input class="referrer" type="text" name="query" placeholder="HTTP Referrer">
					</th>
					<th>
						<input type="hidden" name="field" value="status" readonly>
						<input class="status" type="text" name="query" placeholder="Status">
					</th>
					<th>
						<input type="hidden" name="field" value="request" readonly>
						<input class="request" type="text" name="query" placeholder="Request">
					</th>
					<th>
						<input type="hidden" name="field" value="path" readonly>
						<input class="path" type="text" name="query" placeholder="Path">
					</th>
					<th>
						<input type="hidden" name="field" value="request_body" readonly>
						<input class="body" type="text" name="query" placeholder="Body">
					</th>
					<th>
						<input type="hidden" name="field" value="user_agent" readonly>
						<input class="useragent" type="text" name="query" placeholder="User Agent">
					</th>
					<th>
						<input type="hidden" name="field" value="messages" readonly>
						<input class="alert" type="text" name="query" placeholder="Alert">
					</th>
					<th>
						<input type="hidden" name="field" value="flag" readonly>
						<input class="flagged" type="text" name="query" placeholder="Flagged">
					</th>
					<th>
						<button class="btn-icon" type="submit"><i class="fa fa-search"></i></button>
					</th>
					</form>
				</tr>
			</thead>
			<tbody>
				{% for x in results %}
				<tr>
					<td>{{x['ip']}}</td>
					<td>{{x['server_addr']}}</td>
					<td>{{x['server_port']}}</td>
					<td>{{x['geoip_country_code']}}</td>
					<td>{{x['time_local']}}</td>
					<td>{{x['http_referrer']}}</td>
					<td>{{x['status']}}</td>
					<td>{{x['request']}}</td>
					<td>{{x['path']}}</td>
					<td><div class="body">{{x['request_body']}}</div></td>
					<td>{{x['user_agent']}}</td>
					<td>{{x['messages']}}</td>

					<td>
						<div class="flagged">
						<form action="{{url_for('flag_log')}}" method="POST">
						<input type=hidden value="{{x['request_id']}}" name="request_id" readonly>
						<select name="new_flag" id="flagSelect" required>
							<option value="" selected disabled>{{x['flag']}}</option>
							{% for x in flag_list %}
							<option value="{{x}}" name="new_flag">{{x}}</option>
							{% endfor %}
						</select>
						<button class="btn-icon" type="submit"><i class="fa fa-flag"></i></button>
						</form>
						</div>
					</td>
					<td>

					</td>

				</tr>
				{% endfor %}
			</tbody>
		</table>
	</fieldset>
</div>
{% endblock %}