{% extends "layout.html" %}

{% block extended_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<h1>Log Search</h1>

<div class="main">
	<fieldset class="logs">
		<table id="myTable">
			<tr>
				<th>IP Address</th>
				<th>Time</th>
				<th>HTTP Referrer</th>
				<th>Status</th>
				<th>Request</th>
				<th>Path</th>
				<th>User Agent</th>
				<th>WAF Message</th>
				<th>Flagged</th>
			</tr>
						<tr>
				<th class="myTableSearch">
					<form action="{{url_for('search')}}" method="POST">
						<input type="hidden" name="field" value="ip" readonly>
						<input type="text" name="searched" placeholder="IP Address">
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</th>
				<th class="myTableSearch">
					<form action="{{url_for('search')}}" method="POST">
						<input type="hidden" name="field" value="time_local" readonly>
						<input type="text" name="searched" placeholder="Time">
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</th>
				<th class="myTableSearch">
					<form action="{{url_for('search')}}" method="POST">
						<input type="hidden" name="field" value="http_referrer" readonly>
						<input type="text" name="searched" placeholder="HTTP Referrer">
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</th>
				<th class="myTableSearch">
					<form action="{{url_for('search')}}" method="POST">
						<input type="hidden" name="field" value="status" readonly>
						<input type="text" name="searched" placeholder="Status">
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</th>
				<th class="myTableSearch">
					<form action="{{url_for('search')}}" method="POST">
						<input type="hidden" name="field" value="request" readonly>
						<input type="text" name="searched" placeholder="Request">
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</th>
				<th class="myTableSearch">
					<form action="{{url_for('search')}}" method="POST">
						<input type="hidden" name="field" value="path" readonly>
						<input type="text" name="searched" placeholder="Path">
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</th>
				<th class="myTableSearch">
					<form action="{{url_for('search')}}" method="POST">
						<input type="hidden" name="field" value="user_agent" readonly>
						<input type="text" name="searched" placeholder="User Agent">
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</th>
				<th class="myTableSearch">
					<form action="{{url_for('search')}}" method="POST">
						<input type="hidden" name="field" value="messages" readonly>
						<input type="text" name="searched" placeholder="WAF Result">
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</th>
				<th class="myTableSearch">
					<form action="{{url_for('search')}}" method="POST">
						<input type="hidden" name="field" value="flag" readonly>
						<input type="text" name="flag-search" placeholder="Flagged">
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</th>
			</tr>
			{% for x in results %}
			<tr>
				<td>{{x['ip']}}</td>
				<td>{{x['time_local']}}</td>
				<td>{{x['http_referrer']}}</td>
				<td>{{x['status']}}</td>
				<td>{{x['request']}}</td>
				<td>{{x['path']}}</td>
				<td>{{x['user_agent']}}</td>
				<td>{{x['messages']}}</td>
				<td>
					<form action="{{url_for('flag_log')}}" method="POST">
						<input type=hidden value="{{x['request_id']}}" name="request_id" readonly>
						<select name="new_flag" id="flagSelect">
							<option value="" selected disabled>{{x['flag']}}</option>
							{% for x in flag_list %}
							<option value="{{x}}" name="new_flag">{{x}}</option>
							{% endfor %}
						</select>
						<button class="btn-flag" type="submit"><i class="fa fa-flag"></i></button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</table>
	</fieldset>
</div>
{% endblock %}